.global-footer
	ul
		li
			a(href="http://localhost:3000/")
				span 首页				
		li
			a(href="http://localhost:3000/meet")
				span 遇见		
		li
			a(href="http://localhost:3000/personalinfo")
				span 个人	
		li
			a(href="http://localhost:3000/setting")
				span 设置	
.global-footer-box