.global-header
	.global-header-title
		span Meet
	.global-header-sign
		a.sign-up(href="http://localhost:3000/sign-up",role="button")
			span 注册
		a.sign-in(href="http://localhost:3000/sign-in",role="button")
			span 登录
.global-header-box