extends ../layout

block content
	.container
		h5 用户管理
		input(name="searchuser" type="text" class="form-control" placeholder="输入用户名")
		br
		button.btn.btn-primary.btn-block(type="submit") 搜索
		br
		each item in users
			.thumbnail
				span #{item._id}
				.caption
					p #{item.name}
					a.btn.btn-primary(href="#",role="button") 编辑用户