extends ../layout

block content
	.container
		br
		form.form-signup
			label.sr-only(for="inputEmail") 注册邮箱
			input(type="email" id="inputEmail" class="form-control" placeholder="注册邮箱" required autofocus)
			label.sr-only(for="inputPassword") 用户密码
			input(type="password" id="inputPassword" class="form-control" placeholder="用户密码" required)
			label.sr-only(for="inputPassword") 确认密码
			input(type="password" id="confirmPassword" class="form-control" placeholder="确认密码" required)
			br
			button.btn.btn-lg.btn-primary.btn-block(type="submit") 注册